{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="mb-4">
    <i class="fa-solid fa-chart-line"></i> Admin Dashboard
</h2>

<div class="row g-4 mb-5">
    <div class="col-md-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5>Total Jobs</h5>
                <p class="display-6">{{ total_jobs }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5>Active Jobs</h5>
                <p class="display-6">{{ active_jobs }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-warning">
            <div class="card-body">
                <h5>Applicants</h5>
                <p class="display-6">{{ total_applicants }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-danger">
            <div class="card-body">
                <h5>Recruiters</h5>
                <p class="display-6">{{ total_recruiters }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}