{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register | Pocket Job</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-card">

        <h2>Create Account</h2>
        <p class="subtitle">Join Pocket Job and start your journey</p>

        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <label>Username</label>
            <input type="text" name="username" placeholder="Enter username" required>

            <label>Email</label>
            <input type="email" name="email" placeholder="Enter email" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Create password" required>

            <!-- PROFILE PICTURE -->
            <label>Profile Picture (Optional)</label>
            <input type="file" name="profile_pic">

            <!-- ROLE -->
            <label>Select Role</label>
            <select name="role" required class="role-select">
                <option value="">-- Select Role --</option>
                <option value="APPLICANT">Applicant</option>
                <option value="RECRUITER">Recruiter</option>
            </select>

            <button type="submit" class="btn-primary">Send OTP</button>

        </form>

        <p class="bottom-text">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</div>

</body>
</html>