{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Pocket Job</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>

<header class="navbar">

    <!-- LOGO -->
    <div class="logo">
        <img src="{% static 'images/pocketJob_logo.png' %}" class="logo-img">
        <strong>Pocket Job</strong>
    </div>


    <!-- NAVBAR LINKS -->
    <nav>

        {% if user.is_authenticated %}

            {% if user.profile.role == "APPLICANT" %}

                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'applied_jobs' %}">Applied Jobs</a>
                <a href="{% url 'inbox' %}">Inbox</a>
                <a href="#">Saved Jobs</a>
                <a href="#">History</a>
                <a href="#">About</a>

            {% elif user.profile.role == "RECRUITER" %}

                <a href="{% url 'home' %}">Home</a>

                <!-- Jobs posted by recruiter -->
                <a href="{% url 'job_list' %}">Posted Jobs</a>

                <!-- Recruiter dashboard -->
                <a href="{% url 'recruiter_dashboard' %}">Dashboard</a>

                <a href="{% url 'inbox' %}">Inbox</a>

                <a href="#">About</a>

                <!-- Post job button -->
                <a href="{% url 'job_create' %}" class="post-job-btn">Post a Job</a>

            {% endif %}

        {% else %}

            <a href="{% url 'home' %}">Home</a>
            <a href="#">About</a>

        {% endif %}

    </nav>


    <!-- RIGHT PROFILE AREA -->
    <div class="profile">

        {% if user.is_authenticated %}

            <!-- Notification Bell -->
            <span class="bell">🔔</span>

            <!-- PROFILE LINK -->
            <a href="{% url 'profile' %}" style="display:flex; align-items:center; gap:8px; text-decoration:none; color:inherit;">

                <!-- USER PROFILE PIC -->
                <img src="{{ user.profile.profile_pic.url }}" class="profile-pic">

                <!-- USERNAME -->
                <span>{{ user.username }}</span>

            </a>

            <!-- ROLE BADGE -->
            <span class="role-badge">

                {% if user.profile.role == "APPLICANT" %}
                    Applicant
                {% elif user.profile.role == "RECRUITER" %}
                    Recruiter
                {% endif %}

            </span>

        {% else %}

            <a href="{% url 'login' %}">Login</a>

        {% endif %}

    </div>

</header>


<!-- PAGE CONTENT -->
{% block content %}
{% endblock %}

</body>
</html>